// main: ../main.scss
/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  padding-bottom: 50px;
  position: relative;

  .footer-top {
    padding-top: 50px;
  }

  .footer-about {
    .logo {
      margin-bottom: 25px;
      display: flex;
      align-items: center;

      img {
        max-height: 80px;
        width: auto;
        vertical-align: middle;
      }
    }

    p {
      font-size: 14px;
      font-family: var(--heading-font);
    }
  }

  .social-links {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
      font-size: 16px;
      color: color-mix(in srgb, var(--default-color), transparent 50%);
      margin-right: 10px;
      transition: 0.3s;

      &:hover {
        color: var(--brand-brown);
        border-color: var(--brand-brown);
      }
    }
  }

  h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }

  .footer-links {
    margin-bottom: 30px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      i {
        padding-right: 2px;
        font-size: 12px;
        line-height: 0;
      }

      li {
        padding: 10px 0;

        &:first-child {
          padding-top: 0;
        }

        display: flex;
        align-items: center;
      }

      a {
        color: color-mix(in srgb, var(--default-color), transparent 20%);
        display: inline-block;
        line-height: 1;

        &:hover {
          color: var(--brand-brown);
        }
      }
    }
  }

  .footer-contact {
    p {
      margin-bottom: 5px;
    }
  }

  .copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--brand-brown);
    color: #ffffff;

    p {
      margin-bottom: 0;
      color: #ffffff;
    }
  }

  .credits {
    margin-top: 6px;
    font-size: 13px;
  }
}